# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
.env/

# mitmproxy & tooling artifacts
*.mitm

# OS / editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log

# Other
*.swp
